<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/85cd353cd8.js" crossorigin="anonymous"></script>
    <title>News Evaluation</title>
</head>

<body>
    <div class="loader hidden">
        <div class="lds-dual-ring"></div>
    </div>
    <section class="app">
        <div class="hero">
            <h1 class="heading--main">News sentiment analysis</h1>
            <form action="" class="app__form">
                <label for="url">Link to the news item</label>
                <input placeholder="https://example.com" name="url" minlength="10" type="url" id="news-url">
                <button type="submit" class="button submit-btn">Evaluate</button>
            </form>

        </div>
        <div class="container">
            <div class="results">
                <h2 class="heading2">Results </h2>
                <p>Polarity: <span id="polarity"></span></p>
                <p>Agreement: <span id="agreement"></span></p>
                <p>Confidence: <span id="confidence"></span></p>
                <p>Irony: <span id="irony"></span></p>
                <p>Subjectivity: <span id="subjectivity"></span></p>
            </div>
            <div class="info">
                <div class="wrapper">
                    <h2 class="heading2 margin-bottom-20px">How does it work?</h2>
                    <p>
                        This website uses <a href="https://www.meaningcloud.com/" target="_blank"
                            rel="noopener noreferrer" class="link">MeaningCloud</a>
                        sentiment analysis to asses the polarity, subjectivity, irony and emotional agreement of a text.
                        To analyze a news item, simply paste the link to it in the input field above. Texts in English,
                        Spanish, French, Italian, Portugease, and Catalan are supported. The language is detected
                        automatically.
                    </p>
                </div>
                <div class="wrapper">
                    <p class="measurement">Polarity</p>
                    <p class="interpretation">Distinguishes very positive and very negative opinions, as well as the
                        absence
                        of sentiment. Possible values are:
                    </p>
                    <ul>
                        <li> P+: strong positive</li>
                        <li>P: positive</li>
                        <li>NEU: neutral</li>
                        <li> N: negative</li>
                        <li> N+: strong negative</li>
                        <li>NONE: without polarity</li>
                    </ul>
                </div>
                <div class="wrapper">
                    <p class="measurement">Agreement</p>
                    <p class="interpretation">
                        Marks the agreement between the sentiments detected in the text, the sentence
                        or the segment it refers to. It has two possible values:
                    </p>
                    <ul>
                        <li>AGREEMENT: the different elements have the same polarity.</li>
                        <li>
                            DISAGREEMENT: there is disagreement between the different elements' polarity.
                        </li>
                    </ul>
                </div>
                <div class="wrapper">
                    <p class="measurement">Subjectivity</p>
                    <p class="interpretation">
                        Marks the subjectivity of the text. It has two possible values:
                    </p>
                    <ul>
                        <li>
                            OBJECTIVE: the text does not have any subjectivity marks.
                        </li>
                        <li>
                            SUBJECTIVE: the text has subjective marks.
                        </li>
                    </ul>
                </div>
                <div class="wrapper">
                    <p class="measurement">Confidence</p>
                    <p class="interpretation">
                        Represents the confidence associated with the sentiment analysis performed on
                        the text. Its value is an integer number in the 0-100 range.
                    </p>
                </div>
                <div class="wrapper">
                    <p class="measurement">Irony</p>
                    <p class="interpretation">Indicates the irony of the text. It has two possible values:
                    </p>
                    <ul>
                        <li>NONIRONIC: the text does not have any irony marks.</li>
                        <li>IRONIC: the text has irony marks.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <p>Created by Māra Braslava</p>
            <p>Connect with me:</p>
            <div class="social-links">
                <a href="https://github.com/Braslava" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github" aria-hidden="true"></i>
                    <span class="visually-hidden">GitHUb</span>
                </a>
                <a href="https://www.linkedin.com/in/braslava/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                    <span class="visually-hidden">LinkedIn</span>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>