<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Evaluation</title>
</head>
<body>
    <header class="header">
        <nav class="nav"></nav>
    </header>
    <section class="app">
        <form action="" class="app__form">
            <input type="text" id="news-item">
            <button class="submit-btn">Evaluate</button>
        </form>
        <div class="results"></div>
    </section>
    <footer class="footer"></footer>
</body>
</html>