<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/85cd353cd8.js" crossorigin="anonymous"></script>
    <title>Travel Planner</title>
</head>

<body>
    <div class="loader hidden js-loader">
        <div class="lds-dual-ring"></div>
    </div>
    <div class="container--main">
        <div class="loader hidden js-loader">
            <div class="lds-dual-ring"></div>
        </div>
        <div class="app">
            <section class="trip-creator">
                <h1 class="heading--main">Travel Planner</h1>
                <form class="trip-creator__form js-form">
                    <label for="location">Where are you going?</label>
                    <input placeholder="Enter a city, e.g. Rome" required name="location" minlength="2" type="text"
                        id="location">
                    <label for="departure-date">Departure date</label>
                    <input name="departure-date" required type="date" id="departure-date">
                    <button type="submit" class="button submit-btn">Create trip</button>
                </form>
            </section>
            <section class="trip-info">
                <h2 class="heading2">Your trip </h2>
                <div class="trip-info__results">
                    <div class="trip__photo">
                        <img class="js-destination-image" src="https://picsum.photos/250/200" alt="destination photo">
                    </div>
                    <div class="trip-details">
                        <h3>Destination: <span class="js-location-display">location</span></h3>
                        <p class="leave-date">Departure: <span class="js-dep-date-display">date</span>
                        <p>
                        <div class="button-wrapper">
                            <button class="button button--save">Save trip</button>
                            <button class="button button--remove js-remove-button">Remove trip</button>
                        </div>
                        <p class="departure-countdown js-departure-countdown">Days until the trip
                        <p>
                        <div class="weather-info">
                            <p class="subheading">Weather forecast for the time of your stay:</p>
                            <p class="js-weather-display">Cloudy, 17 degrees</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="footer">
            <p>Created by Māra Braslava</p>
            <p>Connect with me:</p>
            <div class="social-links">
                <a href="https://github.com/Braslava" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github" aria-hidden="true"></i>
                    <span class="visually-hidden">GitHUb</span>
                </a>
                <a href="https://www.linkedin.com/in/braslava/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                    <span class="visually-hidden">LinkedIn</span>
                </a>
            </div>
        </footer>
    </div>
</body>

</html>