@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

$base-color: #c56000;
$border-dark: rgba($base-color, 0.88);
$base-light: #ffe773; 
$font-primary: #ffffff;
$font-secondary: #1b1b1b; 
$accents: #e65100;


body {
	background-color: $base-color;
    color: $font-primary;
	min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}
