@use 'base';
@use 'elements';

.app {
	display: grid;
	gap: 10px;
	background: base.$paleta-3;
	background-size: cover;
	background-attachment: fixed;
	padding: 60px 0 40px 0;
}

.hero {
	margin: 20px 0 15px 0;
}

.app__form {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;

	input {
		display: block;
		padding: 8px;
		margin-bottom: 10px;
		border: none;
		border-radius: 5px;
		min-width: 250px;
	}

	label {
		display: block;
	}

	// .error-holder {
	// 	color: red;
	// 	padding: 5px;
	// 	background-color: rgba(base.$base-light, 1);
	// 	border-radius: 5px;
	// }
}

.container.trip {
	background-color: rgba(base.$paleta-5, 0.92);
	box-shadow: 0 0 3px 5px base.$paleta-5;
	border-radius: 10px;
}

.results {
	display: grid;
	padding: 25px 25px 40px 25px;
	gap: 15px;
	margin-bottom: 35px;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

	.heading2 {
		border-bottom: 2px double base.$paleta-1;
	}

	p {
		background-color: rgba(base.$paleta-3, 0.8);
		padding: 10px;
		border-radius: 10px;
	}

	span {
		color: base.$paleta-2;
	}
}

// helper classes

.hidden {
	display: none;
}
