@use 'base';
@use 'elements';

.app {
	display: grid;
	gap: 10px;
	padding: 60px 15px 50px 15px;
	justify-content: center;
}

.trip-creator {
	margin: 20px 0 15px 0;

	.heading--main {
		color: base.$paleta-2;
	}
}

.trip-creator__form {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;

	input {
		display: block;
		padding: 8px;
		margin-bottom: 10px;
		border: none;
		background: base.$paleta-3;
		border-radius: 5px;
		min-width: 250px;
		color: base.$paleta-5;

		&:hover,
		&:focus {
			outline: 2px solid base.$paleta-1;
		}
	}

	label {
		display: block;
	}
}

.trip-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgba(base.$paleta-5, 0.92);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 30px 15px 25px 15px;

	.heading2 {
		color: base.$paleta-1;
		padding-bottom: 12px;
	}
}

.trip-info__results {
	display: grid;
	padding: 10px;
	gap: 15px;
	grid-template-rows: auto 1fr;
	color: base.$paleta-3;
	justify-items: center;

	span {
		color: base.$paleta-1;
	}

	img {
		width: 100%;
		max-width: 300px;
		left: 0;
		top: 0;
		border: none;
		overflow: hidden;
		object-fit: cover;
		object-position: center;
	}

	@media (min-width: base.$layout-breakpoint-small) {
		grid-template-columns: auto 1fr;
	}
}

.trip-details {
	display: grid;
	gap: 10px;
	width: 100%;
	justify-content: stretch;
}

.button-wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
}

// helper classes

.hidden {
	display: none;
}

.visually-hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}