@use 'base';
@use 'elements';

.app {
	display: grid;
	gap: 10px;
}

.hero {
	margin: 20px 0 15px 0;
	background: url(../../assets/pexels-rovenimagescom-949587.jpg);
	// background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 60px 0 40px 0;
}

.app__form {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;

	input {
		display: block;
		padding: 8px;
		margin-bottom: 10px;
		border: none;
		border-radius: 5px;
		min-width: 250px;
	}

	label {
		display: block;
	}
}

.results {
	display: grid;
	padding: 25px 25px 40px 25px;
	gap: 15px;
	margin-bottom: 35px;
	border-radius: 10px;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	background-image: url(../../assets/cool-background.png);
	box-shadow: 0 0 3px 5px #00000016;

	.heading2 {
		border-bottom: 2px double base.$base-color;
	}

	p {
		background-color: rgba(base.$font-secondary, 0.8);
		padding: 10px;
		border-radius: 10px;
	}

	span {
		color: base.$base-light;
	}
}

.info {
	background-color: rgba(base.$base-light, 1);
	color: base.$font-secondary;
	padding: 50px 55px 20px;
	box-shadow: 0 0 3px 5px #00000016;
	border-radius: 10px;
	line-height: 130%;

	@media (max-width: base.$layout-breakpoint) {
		padding: 35px 20px 15px;
	}

	.wrapper {
		display: grid;
		gap: 8px;
		margin-bottom: 20px;

		.measurement {
			// font-weight: 700;
			background-color: rgba(base.$font-secondary, 0.8);
			padding: 10px;
			border-radius: 10px;
			color: base.$font-primary;
			max-width: 200px;
		}

		.interpretation {
		}

		ul {
			list-style: square inside;
		}
	}
}
