@use 'base';

.button {
	display: block;
	color: base.$paleta-2;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	background-color: base.$paleta-1;

	&:hover,
	&:focus {
		opacity: 0.8;
		cursor: pointer;
		transition: 0.5s;
	}
}

.heading--main {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
}

.heading2 {
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	color: base.$paleta-3;
}

.heading3 {
	font-size: 20px;
	font-weight: 700;
	color: base.$paleta-5;
}

.link {
	color: base.$paleta-1;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.margin-bottom-20px {
	margin-bottom: 20px;
}
