@use 'base';

.footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: base.$paleta-4;
	padding: 40px 0 20px;

	a {
		color: base.$paleta-5;
	}

	.social-links {
		display: flex;
		justify-content: center;
		padding: 10px;

		i {
			font-size: 20px;
			padding: 5px 8px;
			transition: all 0.2s ease-in-out;
			&:hover {
				transform: scale(1.1);
				transition: 0.5s;
			}
		}
	}
}
