@use 'base';
@use 'elements';

.trips {
	display: flex;
	flex-direction: column;
	background-color: rgba(base.$paleta-5, 0.88);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	.heading2 {
		color: base.$paleta-1;
		padding-bottom: 12px;
	}
}

.trip-card {
	display: grid;
	padding: 23px 25px 10px 25px;
	gap: 15px;
	grid-template-rows: auto 1fr;
	color: base.$paleta-3;
	justify-items: center;
	align-items: center;
	border-bottom: 1px dashed base.$paleta-3;

	h2 {
		font-size: 22px;
		font-weight: 700;
		text-align: center;
	}

	span {
		color: base.$paleta-1;
	}

	img {
		width: 100%;
		max-width: 300px;
		margin-bottom: 8px;
		overflow: hidden;
		object-fit: cover;
		object-position: center;
	}

	.trip-details {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0 10px;
		gap: 8px;

		button {
			margin-top: 5px;
			max-width: 200px;
			align-self: flex-end;
		}
	}

	&:first-child {
		padding-top: 35px;
	}
	
	&:last-child {
		padding-bottom: 30px;
		border-bottom: none;
	}

	@media (min-width: base.$layout-breakpoint-small) {
		grid-template-columns: auto 1fr;

		h2 {
			text-align: left;
		}

		img {
			margin-bottom: 0;
		}
	}
}
